<div>
  <h3>Angular UI + Boot REST API</h3>
  <form (ngSubmit)="onInsertClick()">
    Book ID: <input type="text" name="bookId" placeholder="Book Id is Optional"[(ngModel)]="book.bookId"/><br/>
    Book Name: <input type="text" name="bookName" placeholder="Enter Book Name"  [(ngModel)]="book.bookName"/><br/>
    Book Price: <input type="text" name="bookPrice" placeholder="Enter Book Price"[(ngModel)]="book.bookPrice"/><br/>
    <input type="submit" value="Save Book"/><br/>
    {{msg}}
  </form>
</div>
<div>
  <form (ngSubmit)="onCl">
    Book ID: <input type="text" name="bookId" placeholder="Enter Book Id to Delete"[(ngModel)]="book.bookId"/><br/>
    
    <input type="submit" value="Save Book"/><br/>
    {{msg}}
  </form>
</div>
<div>
  <h3>Book Details</h3>
  <input type="button" value="Get Data" (click)="getData()"/>
  <table border="1">
    <thead>
      <tr>
        <th>Book Id</th>
        <th>Book Name</th>
        <th>Book Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of books">
        <td>{{book.bookId}}</td>
        <td>{{book.bookName}}</td>
        <td>{{book.bookPrice}}</td>
      </tr>
    </tbody>
  </table>
</div>
